<nav>
  <div class="nav-container">
    <div class="nav-top">
      <button class="btn login"><a routerLink="/signIn">Sign In</a></button>
      <button class="btn register"><a routerLink="/signUp">Sign Up</a></button>
    </div>

    <div class="nav-bottom">
      <div class="logo">
        <img
          src="../../../assets/logostudio.svg"
          alt="logo"
          style="width: 20px; height: 25px"
        />
        <h1>Stan.Job.Market</h1>
      </div>
      <div class="nav-links">
        <ul class="ul">
          <li class="link-item"><a href="">Home</a></li>
          <li class="link-item"><a href="">About</a></li>
          <li class="link-item"><a href="">Contact</a></li>
          <li class="link-item"><a href="">Category</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
