
<div class="section-container">
    <div class="overlay">
      <div class="ambition">
        <h1>Ambition</h1>
        <div class="step-success">is the first step to succes!</div>
      </div>
      <div class="btn-class">
   
        <button class="btn login"><a href="#">Search Job</a></button>
        <button class="btn register"><a href="#">Learn more &rarr;</a></button>
      </div>
    </div>
  </div>

  <!-- category -->
  <div class="category-container">
    <div class="overline"></div>
    <h2 class="Top-trnd"><span class="bold">Top Trending</span> Categories</h2>
    <p class="opportunity">
      Make the most of the opportunities available by browsing through the most
      trending categories and get hired today!
    </p>
    <div class="cat-grid-container">
      <div class="grid-item">
        <!-- Education -->
        <img src="../../../assets/Microsoft office.png" alt="Graduation Cap" />
        <div class="text-and-link">
          <h2 class="cat_name">Education</h2>
          <a class="browse" href="">Browse &rarr;</a>
        </div>
      </div>
      <div class="grid-item">
        <!-- business -->
        <img src="../../../assets/Bank.png" alt="" />
        <div class="text-and-link">
          <h2 class="cat_name">Sales</h2>
          <a class="browse" href="">Browse &rarr;</a>
        </div>
      </div>
      <div class="grid-item">
        <!-- medical -->
        <img src="../../../assets/Microscope_icon.png" alt="" />
        <div class="text-and-link">
          <h2 class="cat_name">Medicine</h2>
          <a class="browse" href="">Browse &rarr;</a>
        </div>
      </div>
      <div class="grid-item">
        <!-- Bank and finance -->
        <img src="../../../assets/Bank.png" alt="" />
        <div class="text-and-link">
          <h2 class="cat_name">Finance</h2>
          <a class="browse" href="">Browse &rarr;</a>
        </div>
      </div>
      <div class="grid-item">
        <!-- Architecture and development -->
        <img src="../../../assets/Arch_Design.png" alt="" />
        <div class="text-and-link">
          <h2 class="cat_name">Architechure</h2>
          <a class="browse" href="">Browse &rarr;</a>
        </div>
      </div>
      <div class="grid-item">
        <!-- fashion -->
        <img src="../../../assets/FashionIcon.png" alt="" />
        <div class="text-and-link">
          <h2 class="cat_name">Fashion</h2>
          <a class="browse" href="">Browse &rarr;</a>
        </div>
      </div>
      <div class="grid-item">
        <!-- Multimedia -->
        <img src="../../../assets/SmartfoneIcon.png" alt="" />
        <div class="text-and-link">
          <h2 class="cat_name">Multimedia</h2>
          <a class="browse" href="">Browse &rarr;</a>
        </div>
      </div>
      <div class="grid-item">
        <!-- Technology -->
        <img src="../../../assets/webcam_icon.png" alt="" />
        <div class="text-and-link">
          <h2 class="cat_name">Science and Tech</h2>
          <a class="browse" href="">Browse &rarr;</a>
        </div>
      </div>
      <div class="grid-item">
        <img src="../../../assets/Briefcase.png" alt="" />
        <div class="text-and-link">
          <h2 class="cat_name">Civil Service</h2>
          <a class="browse" href="">Browse &rarr;</a>
        </div>
      </div>
    </div>
  </div>
  